@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.Ecommerce-Website-Logo-image {
    height: 10vh;
}

.ecommerce-carousel-container {
    height: 100vh;
}
.caurosel-image {
    height: 100vh;
    width: 100vw;
}
.Our-Services-Section-heading {
    color: #183b56;
    font-size: 33px;
    font-family: Roboto;
    font-weight: bold;
}

.Our-Services-Section-description {
    color: #616c7c;
    font-size: 19px;
}

.Our-Services-Section-card-image {
    height: 90px;
}

.Our-Services-Section-card-heading {
    color: #1f2933;
    font-size: 22px;
}

.Our-Services-Section-card-description {
    color: #7b8794;
}

.Ecommerce-Website-Product-Section-heading {
    color: #183b56;
    font-size: 35px;
    font-weight: bold;
}

.Ecommerce-Website-Product-Section-card-background1 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-products-headphones-bg.png");
    background-size: cover;
    border-radius: 15px;
    height: 35vh;
}

.Ecommerce-Website-Product-Section-card-heading {
    font-size: 30px;
    color: white;
}

.Ecommerce-Website-Product-Section-card-paragraph {
    color: white;
    font-size: 15px;
}

.Ecommerce-Website-Product-Section-card-button {
    color: #ff9f00;
    background-color: white;
    border-width: 0px;
    border-style: solid;
    border-radius: 20px;
    height: 40px;
    width: 120px;
}

.Ecommerce-Website-Product-Section-card-background2 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-products-laptops-bg.png");
    background-size: cover;
    border-radius: 15px;
    height: 35vh;
}

.Ecommerce-Website-Product-Section-card-button-heading {
    font-size: 22px;
    font-weight: 400;
    color: #323f4b;
}

.products-card-modal-description {
    font-size: 15px;
    font-family: Roboto;
}

.products-card-modal-list {
    list-style-type: none;
    padding-left: 0px;
}

.products-card-modal-list-item {
    font-size: 15px;
    font-family: Roboto;
}

.products-card-modal-list-item-category {
    font-weight: bold;
}

.Ecommerce-Website-Product-Section-See-All-Offers {
    color: #ff9f00;
    font-size: 35px;
}

.Ecommerce-Website-Offers-Section {
    background-image: linear-gradient(to right, #f49541, #dd5d97);
    padding-top: 30px;
    padding-bottom: 30px;
}

.Ecommerce-Website-Offers-Section-heading {
    color: #ad2167;
    font-family: Bree Serif;
    font-size: 30px;
}

.Ecommerce-Website-Offers-Section-paragraph {
    color: white;
    font-size: 18px;
    font-family: Roboto;
}

.Ecommerce-Website-Offers-Section-heading1 {
    color: white;
    font-size: 22px;
    font-family: Roboto;
    font-weight: 500;
    font-style: italic;
}

.span_text {
    color: white;
    font-weight: bold;
}

.Ecommerce-Website-Offers-Section-image3 {
    width: 250px;
    margin: 10px;
}

.Ecommerce-Trending-Blogs-Section-heading {
    color: #183b56;
    font-size: 39px;
    font-family: Roboto;
    font-weight: 600;
}

.Ecommerce-Trending-Blogs-Section-card {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-trending-blogs-1-img.png");
    background-size: cover;
}

.Ecommerce-Trending-Blogs-Section-card-sub-heading {
    color: #959ead;
    font-size: 15px;
    font-family: Roboto;
}

.Ecommerce-Trending-Blogs-Section-card-heading1 {
    color: #183b56;
    font-size: 26px;
    font-weight: 600;
}

.Ecommerce-Trending-Blogs-Section-card-description {
    color: #959ead;
    font-size: 20px;
    font-family: Roboto;
}

.Ecommerce-Trending-Blogs-Section-card-Read-More {
    color: #ff9f00;
    font-size: 14px;
    font-weight: 600;
}

.Explore-Deals-Offers-Section {
    background-color: #f5f7fa;
}

.Explore-Deals-Offers-Section-heading {
    color: #183b56;
    font-size: 40px;
    font-family: Roboto;
    font-weight: 600;
}

.Explore-Deals-Offers-Section-card {
    background-color: white;
    border-radius: 10px;
}

.Explore-Deals-Offers-Section-heading1 {
    color: #183b56;
    font-size: 29px;
    font-family: Roboto;
    font-weight: 600;
}

.Explore-Deals-Offers-Section-card-image {
    width: 100%;
    border-radius: 20px;
}

.Explore-Deals-Offers-Section-card-description {
    font-size: 18px;
    font-family: Roboto;
}

.Explore-Deals-Offers-Section-card-Deals {
    color: #ff9f00;
    font-size: 20px;
    font-weight: 600;
    font-family: Roboto;
}

.explore-card-image-container {
    padding: 10px;
}

.Ecommerce-Website-Contact-Us-Section {
    background-color: #f5f7fa;
}

.Ecommerce-Website-Contact-Us-Section-heading {
    color: #183b56;
    font-weight: 600;
    font-size: 40px;
}

.Ecommerce-Website-Contact-Us-Section-button {
    color: #ff9f00;
    font-size: 20px;
    border-width: 3px;
    border-style: solid;
    background-color: transparent;
    border-color: #ff9f00;
    padding: 10px;
    height: 55px;
    width: 170px;
    margin-top: 10px;
}

.Ecommerce-Footer-Section {
    background-color: #0d2436;
    padding: 20px;
}

.Ecommerce-Footer-Section-image {
    height: 9vh;
}

.icon {
    color: #5a7184;
}

.icon-background {
    background-color: #152c3e;
    width: 45px;
    padding: 15px;
    border-radius: 50px;
}

.Ecommerce-Footer-Section-address {
    color: #5a7184;
    font-size: 14px;
    font-family: Roboto;
    font-weight: bold;
}

.Ecommerce-Footer-Section-heading {
    color: #5a7184;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 700;
}

.Ecommerce-Footer-Section-sub-heading {
    color: #5a7184;
    font-size: 15px;
    font-family: Roboto;
    font-weight: 100;
    list-style-type: none;
}

.Ecommerce-Footer-Section-list {
    padding: 0px;
}

.Underline {
    background-color: #5a7184;
}

.Ecommerce-Footer-Section-copyrights {
    color: #5a7184;
    font-size: 15px;
}